# Label Encoding & Ordinal Encoding

Categorical encoding is a process of converting categories to numbers.

#### What is Nominal Data? 
Nominal data is defined as data that is used for naming or labelling variables, without any quantitative value. It is sometimes called “named” data - a meaning coined from the word nominal. 

There is usually no intrinsic ordering to nominal data. For example, Race is a nominal variable having a number of categories, but there is no specific way to order from highest to lowest and vice versa.

#### What is Ordinal Data?  
Ordinal data is a type of categorical data with an order. The variables in ordinal data are listed in an ordered manner. 

In each case, we know that a #4 is better than a #3 or #2, but we don’t know–and cannot quantify–how much better it is.  For example, is the difference between “OK” and “Unhappy” the same as the difference between “Very Happy” and “Happy?”  We can’t say.

Ordinal scales are typically measures of non-numeric concepts like satisfaction, happiness, discomfort, etc.

### Label Encoding vs Ordinal Encoding
- Label Encoding apply on ordinal and nominal categorical variables.

- Ordinal Encoding apply on ordinal categorical variables.

In [ ]:
# Load libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [13]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
# import dataset
df = pd.read_csv(r"/content/Train.csv")
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
# We are not taking whole features, we will move ahead with few columns
df2 = df[['KitchenQual','BldgType']]

## label Encoding

In [6]:
# Creating object for tranformation
le = LabelEncoder()

#Let's tranform the columns while fitting to convert
le.fit_transform(df2['BldgType'])

array([0, 0, 0, ..., 0, 0, 0])

In [7]:
# We got the data into array form, let's create datafram
df2['BldgType_L_enc'] = le.fit_transform(df2['BldgType'])
df2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     KitchenQual BldgType  BldgType_L_enc
0             Gd     1Fam               0
1             TA     1Fam               0
2             Gd     1Fam               0
3             Gd     1Fam               0
4             Gd     1Fam               0
...          ...      ...             ...
1455          TA     1Fam               0
1456          TA     1Fam               0
1457          Gd     1Fam               0
1458          Gd     1Fam               0
1459          TA     1Fam               0

[1460 rows x 3 columns]

In [8]:
# To see the class of the cloumns, means uniques values
df['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

### Ordinal Encoding

In [9]:
# Let's collect the orginal class, where class is in sequncial wise
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

"""# KitchenQual: Kitchen quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
"""

In [10]:
# Let give the order number to class
order_Label = {"Ex":4,"Gd":3,"TA":2,"Fa":1}

In [11]:
# now let's map the order number into features
df2['KitchenQual_org_en'] =df2['KitchenQual'].map(order_Label)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
# Let's check the encoded dataframe
df2

     KitchenQual BldgType  BldgType_L_enc  KitchenQual_org_en
0             Gd     1Fam               0                   3
1             TA     1Fam               0                   2
2             Gd     1Fam               0                   3
3             Gd     1Fam               0                   3
4             Gd     1Fam               0                   3
...          ...      ...             ...                 ...
1455          TA     1Fam               0                   2
1456          TA     1Fam               0                   2
1457          Gd     1Fam               0                   3
1458          Gd     1Fam               0                   3
1459          TA     1Fam               0                   2

[1460 rows x 4 columns]